.container {
  position: absolute;
  top: 50%;
  left: 1.25rem;
  /* left-5 */
  font-size: 0.875rem;
  /* text-sm */
  line-height: 1.25rem;
  border: 1px solid #9ca3af;
  /* border-gray-400 */
  z-index: 100;
  background-color: white;
  border-radius: 0.25rem;
  padding: 1rem;
  transform: translateY(-50%);
  box-shadow: 1px 0 10px rgba(0, 0, 0, 0.2);
  pointer-events: auto;
}

.selectOptionContainer {
  margin-bottom: 1.5rem;
  /* mb-6 */
  padding-left: 1rem;
  padding-right: 1rem;
}

.selectOptionContainer:first-child {
  padding-top: 1.25rem;
}

.selectOptionContainer:last-child {
  padding-bottom: 1.25rem;
  margin-bottom: 0;
}

.toolBoxLabel {
  display: block;
  margin-bottom: 0.25rem;
  /* mb-1 */
  font-weight: 500;
}

.colorsContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.colorBox {
  display: inline-block;
  width: 1.25rem;
  /* w-5 */
  height: 1.25rem;
  /* h-5 */
  border-radius: 0.25rem;
  /* rounded */
  margin-right: 0.25rem;
  /* mr-1 */
  cursor: pointer;
  border: 1px solid #e5e7eb;
}

.colorBox:last-child {
  margin-right: 0;
}

.noFillColorBox {
  background: linear-gradient(to top left,
      rgba(255, 0, 0, 0) 0%,
      rgba(255, 0, 0, 0) calc(50% - 0.8px),
      rgba(255, 0, 0, 1) 50%,
      rgba(255, 0, 0, 0) calc(50% + 0.8px),
      rgba(255, 0, 0, 0) 100%),
    linear-gradient(to top right,
      rgba(255, 0, 0, 0) 0%,
      rgba(255, 0, 0, 0) calc(50% - 0.8px),
      rgba(255, 0, 0, 1) 50%,
      rgba(255, 0, 0, 0) calc(50% + 0.8px),
      rgba(255, 0, 0, 0) 100%);
}

.activeColorBox {
  border: 1px solid #d1d5db;
  /* border-gray-300 */
  box-shadow: 0 0 0 1px #4a47b1;
}

.colorPicker {
  margin-right: 1.25rem;
  /* mr-5 */
  width: 2.5rem;
  /* w-10 */
  height: 2.5rem;
  /* h-10 */
  border-radius: 0.25rem;
  /* rounded */
  border: 2px solid #a3a3a3;
  /* border-neutral-400 */
  cursor: pointer;
}