.container {
  position: absolute;
  left: 50%;
  top: 1.25rem;
  /* top-5 */
  padding: 0.5rem 0.75rem;
  /* py-2 px-3 */
  display: flex;
  border-radius: 0.25rem;
  /* rounded */
  border: 1px solid #9ca3af;
  /* border-gray-400 */
  z-index: 50;
  background-color: white;
  transform: translateX(-50%);
  box-shadow: 1px 0 10px rgba(0, 0, 0, 0.2);
}

.toolList {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.toolItem {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  /* text-xl */
  padding: 0.75rem;
  /* p-3 */
  color: black;
  margin-right: 0.75rem;
  /* Reduced for better fit */
  cursor: pointer;
  border-radius: 0.25rem;
  transition: all 0.2s ease;
}

.toolItem:last-child {
  margin-right: 0;
}

.toolItem:hover {
  background-color: #eff6ff;
  /* bg-blue-50 */
  color: #374151;
  /* text-gray-700 */
  border-radius: 0.25rem;
}

.toolItem.active {
  background-color: #bfdbfe;
  /* bg-blue-200 */
  color: #374151;
  /* text-gray-700 */
  border-radius: 0.25rem;
}